<!DOCTYPE html>
<html>

<head>
	<title>Guestbook</title>
	<link type = "text/css" rel = "stylesheet" href = "/assets/style.css" />
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>
	<ul>
		<li><h1 class = "MyName">Mathew Horner</h1></li>
		<li><a href = "/home">Home</a></li>
		<li><a href = "/about">About Me</a></li>
		<li><a href = "/contact">Contact</a></li>
		<li><a href = "/guestbook">Guestbook</a></li>
	</ul>